@use 'base/variables' as v;

.principal {
    position: relative;

    &__imagen {
        display: flex;
        justify-content: center;

        .img {
            width: 15rem;
            border-radius: 50%;
            border: .1rem solid v.$blanco;
            padding: .2rem;
            position: absolute;
            top: -10rem;
            z-index: 10;
        }
    }
    .principal__lenguajes {
        background-color: #101010;
        padding: 2rem 0;

        &--index{
            @extend .principal__lenguajes;
            padding-top: 10rem;
        }
        h2 {
            margin-bottom: 3rem;
        }
        .contenedor {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1rem;
            div{
                background-color: darken(v.$blanco, 30%);
                border-radius: 1rem;
                padding: 1rem;
            }
            h3{
                text-align: start;
                font-size: 3rem;
                color: v.$negro;
                margin-bottom: 1rem;
            }
        }
        .img {
            max-width: 6rem;
        }
    }
    &__informacion {
        background-color: v.$morado;

        h2 {
            padding-top: 5rem;
        }
    }
    &__informe {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        padding: 4rem 0;

        img {
            height: 100%;
            border-radius: 1rem;
        }
    }
    @media (max-width: 768px) {
        &__informe {
            grid-template-columns: 1fr;
        }
    }

    .principal__parrafo {
        text-align: justify;
        display: flex;
        flex-direction: column;
        gap: 3rem;

        strong{
            display: block;
            margin-bottom: 1.5rem;
            font-size: 1.8rem;
        }
    }
}

